[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "jsonfmt"
dynamic = ["version"]
requires-python = ">=3.7"
license = {text = "MIT"}
description = "A simple tool for formatting JSON object."
readme = "README.md"
authors = [{name = "Seamile", email = "lanhuermao@gmail.com"}]
dependencies = ["Pygments >=2.13.0"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Topic :: Utilities"
]

[tool.setuptools.dynamic]
version = {attr = "jsonfmt.__version__" }

[project.scripts]
jsonfmt = "jsonfmt:main"
